.articulo{
   font-family: "Corbel", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
   /*display: inline-block;*/
   /*width: auto;*/
   /*margin: auto;
/*   display:block;*/
  /* align-items: center;*/
  text-align: center;
   line-height: 100%;
   display: grid;
padding: 2%;
}

.imgProducto{
   width: 150px;
   height: 150px;
   display:block;
   margin:auto;
}
/* Use a media query to add a break point at 800px: */
.input-css{
  /* width: 30px;
   height: 30px;*/
   float: left;
	width: 30px;
	height: 30px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
}
.div-agrup-btn-class{
   display: flex;
   justify-content: center;
   align-items: center;

   padding: 3%;
}

.div-precio-class{
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   font-weight: bold;
   padding: 3%;
}

.btn-mas-menos{
   width: 30px;
   height: 30px;
   border-radius: 5%;
}

.btn-addCanasta{
   height: 30px;
   color: white;
   background-color: #62B345;
}

.nombre-class{
   padding: 3%;
   font-weight: bold;
   color:#ECD053;
}